@using Microsoft.Extensions.Localization
@using Acme.OnlineCourses.Localization
@using Acme.OnlineCourses.Pages.Agencies
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Button
@model StudentsModalModel
@inject IStringLocalizer<OnlineCoursesResource> L

<abp-modal size="ExtraLarge" id="StudentsModal">
    <abp-modal-header title="@L["AgencyStudents"]"></abp-modal-header>
    <abp-modal-body>
        <form id="StudentsForm" method="post">
            @Html.AntiForgeryToken()
            <input type="hidden" id="AgencyId" value="@Model.AgencyId" />
            <abp-table striped-rows="true" id="AgencyStudentsTable" class="table-responsive">
                <thead>
                    <tr>
                        <th>@L["FullName"]</th>
                        <th>@L["Email"]</th>
                        <th>@L["PhoneNumber"]</th>
                        <th>@L["CourseName"]</th>
                        <th>@L["RegistrationDate"]</th>
                        <th>@L["TestStatus"]</th>
                        <th>@L["PaymentStatus"]</th>
                        <th>@L["AccountStatus"]</th>
                    </tr>
                </thead>
            </abp-table>
        </form>
    </abp-modal-body>
    <abp-modal-footer buttons="@(AbpModalButtons.Cancel)">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">@L["Close"]</button>
    </abp-modal-footer>
</abp-modal> 