@page
@using Microsoft.Extensions.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Button
@using Acme.OnlineCourses.Localization
@using Acme.OnlineCourses.Pages.Students
@using Acme.OnlineCourses.Students
@model CreateModalModel
@inject IStringLocalizer<OnlineCoursesResource> L
@{
    Layout = null;
}

<form asp-page="/Students/CreateModal">
    <abp-modal>
        <abp-modal-header title="@L["NewStudent"].Value"></abp-modal-header>
        <abp-modal-body>
            <abp-input asp-for="Student.Email" />
            <abp-input asp-for="Student.FirstName" />
            <abp-input asp-for="Student.LastName" />
            <abp-input asp-for="Student.PhoneNumber" />
            <abp-input asp-for="Student.DateOfBirth" type="date" />
            <abp-input asp-for="Student.IdentityNumber" />
            <abp-input asp-for="Student.CourseName" />
            <abp-input asp-for="Student.RegistrationDate" type="date" />
            <abp-select asp-for="Student.TestStatus" asp-items="@Model.TestStatusList" />
            <abp-select asp-for="Student.PaymentStatus" asp-items="@Model.PaymentStatusList" />
            <abp-select asp-for="Student.AccountStatus" asp-items="@Model.AccountStatusList" />
            <abp-input asp-for="Student.InternalNote" />
            <abp-select asp-for="Student.AgencyId" asp-items="@Model.AgencyList" />
            <abp-input asp-for="Student.PaymentProofFile" type="file" accept=".jpg,.jpeg,.png,.pdf" />
        </abp-modal-body>
        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form> 