@page
@using Microsoft.Extensions.Localization
@using Acme.OnlineCourses.Localization
@using Acme.OnlineCourses.Pages.Students
@using Acme.OnlineCourses.Students
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Button
@model EditModalModel
@inject IStringLocalizer<OnlineCoursesResource> L
@{
    Layout = null;
}

<form asp-page="/Students/EditModal">
    <abp-modal>
        <abp-modal-header title="@L["Edit"].Value @Model.StudentCourse.Email"></abp-modal-header>
        <abp-modal-body>
            <input asp-for="StudentCourse.StudentId" type="hidden" />
            <input asp-for="StudentCourse.CourseId" type="hidden" />
            <abp-select asp-for="StudentCourse.CourseStatus" asp-items="@Model.CourseStatusList" />
            <abp-select asp-for="StudentCourse.TestStatus" asp-items="@Model.TestStatusList" />
            <abp-select asp-for="StudentCourse.PaymentStatus" asp-items="@Model.PaymentStatusList" />
            <abp-input asp-for="StudentCourse.StudentNote" readonly="true" />
            <abp-input asp-for="StudentCourse.AdminNote" />
        </abp-modal-body>
        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form> 