@page
@using Acme.OnlineCourses
@using Microsoft.Extensions.Localization
@using Acme.OnlineCourses.Localization
@using Acme.OnlineCourses.Pages.Students
@using Acme.OnlineCourses.Students
@model IndexModel
@inject IStringLocalizer<OnlineCoursesResource> L
@{
    ViewData["Title"] = L["Students"];
}

@section scripts {
    <abp-script src="/Pages/Students/Index.js" />
}

<abp-card>
    <abp-card-body>
        <div class="row mb-3">
            <div class="col-md-3">
                <label for="StudentNameFilter">@L["SearchByFullName"]</label>
                <input id="StudentNameFilter" class="form-control" type="text" />
            </div>
            <div class="col-md-3">
                <label for="CourseStatusFilter">@L["FilterByCourseStatus"]</label>
                <select id="CourseStatusFilter" class="form-control">
                    <option value="">@L["AllCourseStatuses"]</option>
                    <option value="0">@L["Enum:StudentCourseStatus:0"]</option>
                    <option value="1">@L["Enum:StudentCourseStatus:1"]</option>
                    <option value="2">@L["Enum:StudentCourseStatus:2"]</option>
                </select>
            </div>

            @if (User.IsInRole(OnlineCoursesConsts.Roles.Administrator))
            {
                <div class="col-md-3">
                    <label for="AgencyFilter">@L["FilterByAgency"]</label>
                    <select id="AgencyFilter" class="form-control">
                        <option value="">@L["AllAgencies"]</option>
                        @foreach (var agency in Model.Agencies)
                        {
                            <option value="@agency.Id">@agency.OrgName</option>
                        }
                    </select>
                </div>
            }

        </div>
        <abp-table striped-rows="true" id="StudentsTable">
            <thead>
                <tr>
                    <th>@L["FullName"]</th>
                    <th>@L["Email"]</th>
                    <th>@L["PhoneNumber"]</th>
                    <th>@L["AgencyName"]</th>
                    <th>@L["RegistrationDate"]</th>
                    <th>@L["CourseName"]</th>
                    <th>@L["CourseStatus"]</th>
                    <th>@L["TestStatus"]</th>
                    <th>@L["PaymentStatus"]</th>
                    <th>@L["Actions"]</th>
                </tr>
            </thead>
        </abp-table>
    </abp-card-body>
</abp-card> 